<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <script type="text/javascript" src="Scripts/Cargar.js"></script>
        <script type="text/javascript" src="Scripts/jquery-1.10.1.js"></script>
        <script type="text/javascript">
            function Iniciar(){
                document.getElementById('identificacion').value('');
            }
        </script>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="font-size: small; " onload="Iniciar();">
        <h:form >
            <p:fieldset  legend="Consulta de Docente">
                <p:panelGrid columns="1" style="width: 100%;">
                    <p:inputText placeholder="Identificacion" value="#{ConsultarDocente.identificacion}" id="identificacion" onfocus="" required="true" />
                    <p:commandButton value="Consultar" onclick="Consulta('faces/Consulta.xhtml');" actionListener="#{ConsultarDocente.AsignarDocente()}" />
                </p:panelGrid>
            </p:fieldset>
        </h:form>
        <p:panel id="Consulta" style="">
        </p:panel>
    </h:body>
</html>

