<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="font-size: small;" onclick="#{ConsultarDocente.AsignarDocente()}">
        <p:panel>
            <h:panelGrid columns="1" style="width:100%" cellpadding="5">  
                <h:outputText value="Identificacion: #{ConsultarDocente.docente.idDocente}" />
                <h:outputText value="Nombre: #{ConsultarDocente.docente.nombre}" />  
                <h:outputText value="Estado: #{ConsultarDocente.docente.estado}" />
                <h:inputText value="#{ConsultarDocente.docente.nombre}"/>
            </h:panelGrid>
        </p:panel>
    </h:body>
</html>

