<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="font-size: small;">
        <h:form >
            <p:fieldset  legend="Eliminar de Docente">
                <p:inputText placeholder="Identificacion" value="#{consultarDocente.identificacion}"/>
                <p:growl id="messages" showDetail="true" />  
                <p:commandButton value="Eliminar" action="#{consultarDocente.eliminarDocente}" actionListener="#{consultarDocente.asignarDocente}" update="messages">  
                </p:commandButton>  
            </p:fieldset>
        </h:form>
    </h:body>
</html>

