<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
       <script type="text/javascript" src="Scripts/Cargar.js"></script>
       <script type="text/javascript" src="Scripts/jquery-1.10.1.js"></script>
        <title>.: Taller Hibernate :.</title>
        <script type="text/javascript">

        </script>
    </h:head>
    <h:body style="font-family: sans-serif; font-size: small;">
        <h:form  > 
            <p:growl id="messages" for="identificacion"/>    
            <p:growl id="messages2" for="nombre"/>   
            <p:growl id="messages3" for="clave"/>    
            <p:menubar>  
                    <p:menuitem value="Registrar"  onclick="Cargar('faces/RegistrarDocente.xhtml');" icon="ui-icon-disk"/> 
                    <p:menuitem value="Consultar"  onclick="Cargar('faces/ConsultarDocente.xhtml');" icon="ui-icon-search"/> 
                    <p:menuitem value="Modificar" onclick="Cargar('faces/ModificarDocente.jsp');" icon="ui-icon-refresh"/> 
                    <p:menuitem value="Listar" onclick="Cargar('faces/ListarDocente.xhtml');" icon="ui-icon-comment"/> 
                    <p:menuitem value="Eliminar" onclick="Cargar('faces/Eliminar.jsp');" icon="ui-icon-trash"/> 
                <f:facet name="options">  
                    <p:commandButton type="button" value="Cerrar Sesion" icon="ui-icon-extlink" />  
                </f:facet>  
            </p:menubar>  
        </h:form>  
        <p:panel id="contenedor" style="">
        </p:panel>
    </h:body>
</html>