<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>.: Taller hibernate :.</title>
    </h:head>
    <h:body onload="#{ListarDocente.IniciarLista()}" style="font-size: small; ">
        <p:growl id="messages"/>  
        <h:form>  
            <p:fieldset  legend="Registrar Docente">
                <p:dataTable style="text-align: center;" var="lista" value="#{ListarDocente.lista}">  
                    <p:column  headerText="Identificacion">  
                        <h:outputText value="#{lista.idDocente}" />  
                    </p:column>  
                    <p:column headerText="Nombre">  
                        <h:outputText value="#{lista.nombre}" />  
                    </p:column>  
                    <p:column headerText="Estado">  
                        <h:outputText value="#{lista.estado}" />  
                    </p:column> 
                </p:dataTable>  
            </p:fieldset>
        </h:form>  
  </h:body>
</html>

