<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <script type="text/javascript">             
        </script>
    </h:head>
    <h:body style="font-family: sans-serif; font-size: small;">
            <h:form>
                <p:fieldset  legend="Registrar Docente">
                    <p:panelGrid columns="1" style="width: 100%;">
                        <p:inputText id="identificacion" style="width: 50%;" requiredMessage="Identificacion: Valor obligatorio" required="true" value="#{RegistrarDocente.docente.idDocente}" placeholder="Identificacion"> 
                        </p:inputText>
                        <p:inputText id="nombre" style="width: 50%;" requiredMessage="Nombre: Valor obligatorio" required="true" value="#{RegistrarDocente.docente.nombre}" placeholder="Nombre"/> 
                        <p:password id="clave" style="width: 50%;"   requiredMessage="Contraseña: Valor obligatorio" required="true" value="#{RegistrarDocente.docente.clave}" placeholder="Contraseña" label="pass"/> 
                    </p:panelGrid>
                    <h:commandButton style="margin-left: 20%;" value="Registrar" actionListener="#{RegistrarDocente.Save()}"/>
                </p:fieldset>
            </h:form>
    </h:body>
</html>

